#header{
	font-family: "Impact", sans-serif;
	
}
#advancedSearchFilters {
	visibility: hidden;
	width: 0px; 
	height: 0px;
	border: #484848;
	border-width: 4px;
	border-style: solid;
	margin: 10px;
	padding: 5px;
	background-color: #e0d0cc;
}
#columns {
	display: flex;
	flex-direction: row;
	flex: 80%;
}
#advButtons {
	flex: 20%;
}
.row {
	display: flex;
	flex-direction: column;
}
.column {
	flex: 50%;
	padding-top: 10px;
	padding-right: 5px;
}
#infoArea {
	width: 80%;
	height: 500px; 
	border: #484848;
	border-width: 5px;
	border-style: dashed;
	margin: 10px;
	background-color: #e0d0cc;
	display: table-cell;
	vertical-align: middle;
	
}
body {
	background-color: #ffc4c1;
	
}
.buttonLabel {
	margin: 5px;
}
table{
	border-style:solid;
	border-width:2px;
	padding:0px;
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
	
}
th{
	background-color:#484848;
	color:white;
	padding:5px;
	border-right-style:solid;
	border-right-width:2px;
	border-color:gray;
}
td{
	height:2em;
	width:25ex;
	border-right:gray 2px solid;
	border-left:gray 2px solid;
	padding:3px;
}
.even{
	background-color:#E8E8E8;
}