
#advancedSearchFilters {
	visibility: hidden;
	width: 0px; 
	height: 0px;
	border: #484848;
	border-width: 4px;
	border-style: solid;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
	background-color: #e0d0cc;
}
#mainSearch {
	width: 150px;
}
#columns {
	display: flex;
	flex-direction: row;
	flex: 65%;
}
#advButtons {
	flex: 20%;
}
.row {
	display: flex;
	flex-direction: column;
}
.column {
	padding-top: 10px;
	padding-right: 5px;
}
#bigColumn {
	flex: 60%;
}
#smallColumn {
	flex: 40%;
}
#loc {
	flex: 15%;
}
#apartmentType {
	margin-top: 5px;
}
#infoArea {
	width: 80%;
	height: 400px; 
	border: #484848;
	border-width: 5px;
	border-style: solid;
	margin: 10px;
	background-color: #e0d0cc;
	display: table-cell;
	vertical-align: middle;
	
}
body {
	background-color: #ffc4c1;
	font-family: "Century Gothic", century gothic, sans-serif;
	font-weight: bold;
	
	
}
input {
	font-family: "Century Gothic", century gothic, sans-serif;

}
.buttonLabel {
	margin: 5px;
}
table{
	border-style:solid;
	border-width:2px;
	padding:0px;
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
	
}
th{
	background-color:#484848;
	color:white;
	padding:5px;
	border-right-style:solid;
	border-right-width:2px;
	border-color:gray;
}
td{
	height:2em;
	width:25ex;
	border-right:gray 2px solid;
	border-left:gray 2px solid;
	padding:3px;
}
.even{
	background-color:#E8E8E8;
}
#next {
	width:205px;
	margin-top: 10px;
	margin-right: auto;
	margin-left:auto;
}
.button {
	width: 100px;
	height: 40px;
}
